.IntroText__Container {
    padding-top: 150px;
    padding-bottom: 150px;
    background: grey;
    color: white;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 75%;
    font-size: 18pt;
    font-family: Raleway-Regular;
}